
body{
  margin:0;
 
}
*{
  box-sizing: border-box;
}
/* .header{
  width:100%;
  height:120px;
  background-color: #ffff;
  position: relative;
  box-shadow: 2px 2px 5px rgb(202, 201, 202);
  border:none;
} */
.nav{
  
  width: 100%;
  height:15%;
  background-color: #45A132;
}
.btn--logo{
  background-color:#45A132 ;
  width: 170px;
  height:40px;
  border-radius: 25px;
  color: #f5f5f5;
  border:none;
  outline: none;
  /* margin-top:20px; */
  /* margin-left:12%; */
  opacity: 0.9;
  font-family: "IranSanse";
  font-size: 18px;
  box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 30%);
  margin-left: -950px;
  margin-top: -25px;
  
}
.links--header{
  position: absolute;
  margin-left:55%;
  margin-top:55px;
}
.links--header a:active{
  border-radius: 15px;
  background-color: rgb(18, 143, 18);
  opacity: 0.7;
  border:1px solid rgb(43, 88, 4);
  color: #f2f2f2;
}
.links--header a{
  width:100px;
  text-decoration-line: none;
  color: rgb(56, 55, 55);
  padding:5px 20px;
  font-size: 18px;
  
  
}
.links--header a:hover{

  border-radius: 15px;
  background-color: rgb(18, 143, 18);
  opacity: 0.7;
  border:1px solid rgb(43, 88, 4);
  color: #f2f2f2;
  transition: color .8s;
}
.img--logo{
  height: 70px;
  width:70px;
  float: right;
  margin-top:25px;
  margin-right: 5%;
}
.main{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width:50%;
  margin:auto;
  margin-top: 30px;
  
}
.coinImg{
  width: 70px;
  height:70px;
  margin-left: 45px;
  margin-top: 50px;
  
}
.groupImg{
  width: 70px;
  height:70px;
  margin-left: 45px;
  margin-top: 50px;
}
.leafImg{
  width: 70px;
  height:70px;
  margin-left: 45px;
  margin-top: 50px;
}

.img{
  width: 170px;
  height:170px;
  background-color:rgb(255, 208, 0);
  border-radius: 50%;
}
.column{
  margin-left: 20%;
  margin-top: 10%;
}
.column p{
  text-align: center;
  color:rgb(61, 61, 61);
  font-size: 20px;
}
footer{
  background-color: #f2f2f2;
}

.footerMain{
  width: 100%;
  /* height:400px; */
  margin:100px auto 0;
  
}
.mainFoot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin:auto;
}
.card{
  background-color: #ffffff;
  margin:48px;
  padding:16px;
  width:23.3%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(202, 201, 202); 
  position: relative;

  
}
.card img{
  width: 70px;
  height: 70px;
}
.card a{
  text-decoration-line: none;
  color:#45a132 ;
  margin:46px;
  padding:20px;
  text-align: center;
}

h1{
  padding-top:50px;
  text-align: center;
  color: #45a132;
  font-size: 30px;
  font-weight: bold;
  font-family: 'IranSanseBold';
}
.nav--card{
  display: none;
  width:100%;
  height:15px;
  bottom: 0;
  background-color: green;
  /* margin-bottom:-100px; */
  margin-left: -15px;
  position: absolute;
  border-radius:0 0 20px 20px;
  opacity:0.8;
}
#hamnav {
  width: 100%;
  height:120px;
  background-color: #ffff;
  position: relative;
  box-shadow: 2px 2px 5px rgb(202, 201, 202);
  border:none;
}

/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems {
  display: flex;

}
#hamitems a {
  /*width: 20%;  100% / 5 tabs = 20% */
  color: rgb(48, 48, 48);
  text-decoration: none;
  text-align: center;
  width:100px;
  text-decoration-line: none;
  color: rgb(56, 55, 55);
  padding:5px 5px;
  font-size: 18px;
  margin-top: -20px;
  float: right;
  margin-right: 10%;
}
#hamitems a:hover {
  background: #b9e4a6;
}
@media screen and (max-width:768px){
  /* Show Hamburger Icon */
  #hamnav label { 
    display: inline-block; 
    color: rgb(49, 49, 49);
    font-style: normal;
    font-size: 2em;
    padding: 10px;
  }
  
  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: rgb(48, 48, 48);
    padding: 30px;
    /* border-top: 1px solid #333; */
  }
  
  /* Toggle Show/Hide Menu */
  #hamitems { 
    display: none;
    margin-left:45px;
    margin-top:38px ;
    width: 80%;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  .btn--logo{
    margin:0 37%;
    
  }
  #hamnav input:checked ~ #hamitems { display: block; }
  
  
  /* [DOES NOT MATTER] */
  html, body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
  }
  footer{
    width: 100%;
    height:100%;
  }
  .mainFoot{
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
  }
  .card{
    
    width:200px;
  }
  .main{
    display:flex;
    flex-direction:column;
    align-content: center;
    
    
  }
}
@media screen and (min-width:768px){
  .main{
    display:flex;
    flex-direction:row;
    align-content: center;
    margin-left: 10%;
    
  }
  .column{
    padding: 0 20px;

  }

}
